body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.photo-credit {
    padding: 5px;
    background-color: black;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 0 0 8px #000;
}

.photo-credit a {
    color: #ffd700;
}
